// Colors
$white: white;
$lightGray: rgb(236, 236, 236);
$gray: lightgray;
$black: black;

// Linear Gradients
$redGlow: linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
$orangeGlow: linear-gradient(45deg, rgba(255,193,7,1) 0%, rgba(255,87,34,1) 100%);
$blueGlow: linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
$greenGlow: linear-gradient( 45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
$pinkGlow: linear-gradient(45deg, rgba(231,72,234,1) 0%, rgba(75,26,188,1) 100%);

// Fonts 
$fontDongle: 'Dongle', sans-serif;
$fontNav: 'Mochiy Pop P One', sans-serif;
